body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  box-sizing: border-box;
  background-color: blueviolet;
}

.App {
  text-align: center;
}
.correct {
  width: 450px;
  background-color: bisque;
  padding: 10px;
  border-radius: 6px;
  margin-bottom: 5px;
  text-align: center;
  color: green;
}
.incorrect {
  width: 450px;
  background-color: bisque;
  padding: 10px;
  border-radius: 6px;
  margin-bottom: 5px;
  text-align: center;
  color: green;
}
.directory-container {
  width: 450px;
  height: 600px;
  padding: 10px;
  border-radius: 8px;
  background-color: azure;
}
